@{
    ViewBag.Title = "About";
}
<center><h2>@ViewBag.Title</h2></center>

<p>We are two students that wanted to create a webiste based on football. We choose football for a simple reason, and that is we both love football and we both played football
    for a long time. We have different ideas for this website that we want to create hopefully in the future aswell since we are still learning the programing language. </p>
