@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>We are two students that wanted to create a webiste based on football. We choose football for a simple reason, and that is we both love football and we both played football
    for a long time. We wanted to help out other players that wanted to play football but could not do it at there local team. And this is why we came up with this idea!</p>
