@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Syddansk Erhvervsskole<br />
    Munkebjergvej 130<br />
    <abbr title="Phone">P:</abbr>
    +45 67405024
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DavidSzelmeczi@hotmail.dk">DavidSzelmeczi@hotmail.dk</a><br />
    <strong>Marketing:</strong> <a href="mailto:ChristofferFredsgaard@hotmail.dk">ChristofferFredsgaard@hotmail.dk</a>
</address>