@{
    ViewBag.Title = "Home Page";
}

    <center>
        <h1>Player Help</h1>
        <h3>Welcome to our website, here you can begin your football journey. Start by creating a profile!</h3>
    </center>
<br />

