@{
    ViewBag.Title = "Home Page";
}

    <center>
        <h1>Player Help</h1>
        <h3>Welcome to our website, here you can begin your football journey. Start by creating a profile!</h3>
    </center>
<br />

<div class="row">
    <div class="col-md-4">
        <h2><b>Your Football Journey</b></h2>
        <p>
            Did you always want to play football but your local clubs where full? In here you can see all the clubs that all looking for a players!
        </p>
    </div>
    <div class="col-md-4">
        <h2><b>Test</b></h2>
        <p>Test</p>
    </div>
    <div class="col-md-4">
        <h2><b>Achieve your Dream</b></h2>
        <p>Play for a club and get more famous! One day your favorite club will come looking for you!</p>
    </div>
</div>